*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(187, 181, 181);
    font-family: sans-serif;
    padding: 90px 20px 0;
   background-image: url(../Imagen/img2.jpg);
   background-size: cover;
   background-attachment: fixed;


}

.header{
    background-color: brown;
    height: 110px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}
.nav{
    position: sticky;
     display: flex;
     justify-content: space-between;

     margin: 0 auto;
     

}

.nav-like{
    color: white;
    text-decoration: none;

}

.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 45px;
    line-height: 110px;
}



.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 20px;
    margin: 0 12px;
    line-height: 110px ;
    text-transform: uppercase;

}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}

.nav-menu-link:hover{
    background-color:rgba(39, 8, 8, 0.39) ;
    transition: 0.5s;

}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    padding: 0 20px;
    line-height: 80px;

    display: none;

}


.facebook{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    padding:0 20px;
    line-height: 80px;
    
}




.Instagram{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    padding: 0 20px;
    line-height: 80px;
}

.whatsapp{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    padding: 0 20px;
    line-height: 80px;
}

.cart-shopping{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    padding: 0 20px;
    line-height: 80px;  
}

.Registro{
    width: 400px;
    background: rgb(110, 48, 40);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;


}

.Registro h4{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.Controls{
    width: 100%;
    background: rgb(196, 182, 186);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid rgb(110, 40, 40);
    font-family: 'calibri';
    

}

.Registro p{
height: 40px;
text-align: center;
font-size: 18px;
line-height: 40px;

}

.Registro a{
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.Registro a:hover{
background-color:rgba(240, 255, 255, 0.514);
transition: 1s;
text-decoration: underline;
}

.Registro .Botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin:16px 0;
    font-size: 16px;
    cursor: pointer;

}

.Botons:hover{
   background-color: cadetblue; 
}


